.nav {
    background-color: #333; 
    padding: 10px; 
    color: white; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  .nav h1 {
    margin: 0;
    padding-left: 20px;
  }
  
  .nav-list {
    display: flex; 
    justify-content: space-around; 
    list-style-type: none; 
    margin: 0; 
    padding-right: 20px;
  }
  
  .nav-item {
    margin: 0 15px; 
  }
  
  .nav-link {
    text-decoration: none; 
    color: white; 
    font-size: 18px; 
    transition: color 0.3s ease; 
  }
  
  .nav-link:hover {
    text-decoration: underline; 
  }
  